---
import RadioButton from '@/components/RadioButton.astro'
import SimpleParallax from '@/components/SimpleParallax.astro'

const { title, description, image, confirmed, pases, id } = Astro.props

const API_URL = 
  import.meta.env.MODE === 'development' 
    ? import.meta.env.API_URL_DEV 
    : import.meta.env.API_URL_PROD
---

<SimpleParallax image={image}>
  {
    Astro.url.pathname !== '/' && confirmed === false && (
      <div id='confirmation' class='px-8 py-32 flex flex-col justify-center items-center gap-10'>
        <h2 class='font-dancing text-5xl text-accent' data-aos='fade-up'>
          {title}
        </h2>
        <p class='text-balance'>{description}</p>

        <form onsubmit="" class='w-full max-w-lg mt-20 text-left flex flex-col gap-6'>
          <legend data-aos='fade-in' class='text-xl uppercase border-b border-accent p-2 text-center'>
            쮸sistir치s a mi fiesta?
          </legend>

          <div class='flex gap-8'>
            <RadioButton id='yes' group='answer' label='Asistire' />
            <RadioButton id='no' group='answer' label='No asistire' />
          </div>

          <label class='flex flex-col gap-4'>
            Personas confirmadas
            <input
              type='number'
              id='qty'
              name='qty'
              class='bg-transparent border border-accent/75 rounded px-4 py-2 outline-none caret-accent shadow-[0_0_10px_2px] shadow-transparent hover:shadow-accent/50 focus:shadow-accent transition-all duration-300'
              placeholder={`Min 1, Max ${pases}`}
              min='1'
              max={pases}
              required
            />
          </label>
          <button
            type='submit'
            class='block w-fit mx-auto cursor-pointer text-accent text-lg uppercase px-10 py-2 border-2 border-accent rounded-lg hover:bg-accent/90 hover:text-white transition-colors duration-300'
            data-aos='fade-up'
          >
            Enviar
          </button>
        </form>
      </div>
    )
  }
  <div id='message' class:list={[ 
    'px-8 py-32 flex-col justify-center items-center gap-10',
    { 
      'flex': confirmed,
      'hidden': !confirmed
    }
  ]}>
    <h2 class='font-dancing text-5xl text-accent' data-aos='fade-up'>
      춰Gracias por confirmar!
    </h2>
    <p class='text-balance'></p>
  </div>
</SimpleParallax>

<script define:vars={{ pases, API_URL, id }}>
  const form = document.querySelector('form')
  const qty = document.querySelector('#qty')

  if (!form) return

  form.addEventListener('submit', (e) => {
    e.preventDefault()

    const answer = document.querySelector(`input[name='answer']:checked`).id
    const qtyValue = answer === 'no' ? 0 : qty.valueAsNumber

    if (answer === 'yes' && qtyValue < 1 || qtyValue > pases) {
      alert('Cantidad de asistentes no permitida')
      return
    }
    
    fetch(API_URL + `/${id}` , {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        confirmado: true,
        asistentes: qtyValue
      })
    })
      .then((res) => {
        const message = document.querySelector('#message')
        message.classList.remove('hidden')
        message.classList.add('flex')
        message.querySelector('p').textContent =
        answer === 'yes'
          ? 'Ser치 un gusto tenerte en nuestra fiesta.'
          : 'Ser치 una l치stima que no asistir치s a la fiesta 游땞.'

        const confirmation = document.querySelector('#confirmation')
        confirmation.classList.add('hidden')
      })
      .catch((err) => console.log(err))
  })
</script>
