---
import LinkButton from '@/components/LinkButton.astro'

const { title, description, hotels } = Astro.props
---

<section class='w-full min-h-lvh px-8 py-20 bg-background flex flex-col items-center justify-center gap-10 font-quicksand text-base text-center'>
  <h2 class='font-dancing text-5xl text-accent'>{title}</h2>
  <p class='text-balance'>{description}</p>
  <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10'>
    {
      hotels.map((hotel) => (
        <div class='w-full max-w-sm flex flex-col items-center gap-8 my-10 text-balance'>
          <h3 class='text-accent text-xl uppercase'>{hotel.name}</h3>
          <p>Contacto: {hotel.phone}</p>
          <p>{hotel.address}</p>
          <LinkButton
            link={hotel.link}
            text='Conocer más'
          />
        </div>
      ))
    }
  </div>
</section>
