---
import LinkButton from '@/components/LinkButton.astro'
import ParallaxImage from '@/components/ParallaxImage.astro'
import { prefix } from '@/constants'

const { title, description, image } = Astro.props
---

<ParallaxImage image={image}>
  <div class='w-full max-w-5xl mx-auto px-8 py-20 flex flex-col items-center justify-center gap-12 font-quicksand text-base text-center relative z-10'>
    <h2
      data-aos='fade-in'
      class='font-dancing text-5xl text-accent'
    >
      {title}
    </h2>
    <p>{description}</p>
    <div class='w-full grid grid-cols-1 xl:grid-cols-3 gap-10 place-items-center'>
      <div class='w-full max-w-2xl flex flex-col gap-6 justify-center items-center p-10 my-10 bg-background rounded'>
        <img
          src={`${prefix}/img/liverpool.webp`}
          alt='Liverpool logo'
          class='h-full max-h-12 w-auto'
        />
        <p>Evento: <span>51313478</span></p>
        <LinkButton
          text='Ver mesa'
          link='https://www.liverpool.com.mx/'
        />
      </div>
      <div class='w-full max-w-2xl flex flex-col gap-6 justify-center items-center p-10 my-10 bg-background rounded'>
        <img
          src={`${prefix}/img/bbva.webp`}
          alt='BBVA logo'
          class='h-full max-h-10 w-auto'
        />
        <div class='space-y-2'>
          <p>Isabella Mora Díaz</p>
          <p>CLABE: <span>8454370453858363</span></p>
          <p>Tarjeta: <span>4152 9841 6887 62349</span></p>
        </div>
      </div>
      <div class='w-full max-w-2xl flex flex-col gap-6 justify-center items-center p-10 my-10 bg-background rounded'>
        <img
          src={`${prefix}/img/envelope.webp`}
          alt='Love Letter'
          width='150'
          height='150'
        />
        <p class='uppercase'>Lluvia de sobres</p>
      </div>
    </div>
  </div>
</ParallaxImage>
