---
import LinkButton from './LinkButton.astro'

const { title, description, date, times, location } = Astro.props
---

<section class='w-[95%] mx-auto px-8 py-20 bg-background flex flex-col items-center justify-center gap-12 font-quicksand text-base text-center -translate-y-16'>
  <h2 class='font-dancing text-5xl text-accent'>{title}</h2>
  <hr class='w-1/4 border-accent' />
  <p>{description}</p>
  <div class='space-y-2'>
    <p>{date}</p>
    {times.map((time) => <p>{time}</p>)}
  </div>
  <p class='max-w-52'>{location.name}</p>
  <p>{location.address}</p>
  <LinkButton
    href={location.link}
    text='Abrir mapa'
  />
</section>
