---
import LinkButton from '@/components/LinkButton.astro'

const { title, description, date, times, location } = Astro.props
---

<section class='min-h-svh px-8 py-20 grid place-items-center'>
  <div class='flex flex-col items-center justify-center gap-12'>
    <h2 class='font-dancing text-5xl text-accent' data-aos='fade-up'>
      {title}
    </h2>
    <hr class='w-1/4 border-accent' />
    <p class='text-balance'>{description}</p>
    <p class='text-xl max-w-52'>{location.name}</p>
    <p class='text-balance'>{location.address}</p>
    <div class='space-y-2'>
      <p>{date}</p>
      {times.map((time) => <p>{time}</p>)}
    </div>
    <LinkButton link={location.link} text='Abrir mapa' />
  </div>
</section>
